@model IEnumerable<Employee>
@{
	ViewData["Title"] = "All Employees";
}

<h1>All Employees</h1>

<hr />

<a asp-action="Create" class="btn btn-primary">Create New Employee</a>

<table class="table">
    <thead>
		<tr>
			<th>@Html.DisplayNameFor(Model => Model.EmployeeNumber)</th>

			<th>
				@Html.ActionLink("Employee Name","Index",new {sortField = "EmployeeName",currentSortField = ViewBag.SortField,sortDirection = ViewBag.SortDirection})
			</th>
		
			<th>
				@Html.ActionLink("Birth Date", "Index", new { sortField = "BirthDate", currentSortField = ViewBag.SortField, sortDirection = ViewBag.SortDirection })
			</th>
		
			<th>
				@Html.ActionLink("Hiring Date", "Index", new { sortField = "HiringDate", currentSortField = ViewBag.SortField, sortDirection = ViewBag.SortDirection })
			</th>
		
			<th>
				@Html.ActionLink("Gross Salary", "Index", new { sortField = "GrossSalary", currentSortField = ViewBag.SortField, sortDirection = ViewBag.SortDirection })
			</th>
		
			<th>
				@Html.ActionLink("Net Salary", "Index", new { sortField = "NetSalary", currentSortField = ViewBag.SortField, sortDirection = ViewBag.SortDirection })
			</th>
		
			<th>
				@Html.ActionLink("Department", "Index", new { sortField = "DepartmentName", currentSortField = ViewBag.SortField, sortDirection = ViewBag.SortDirection })
			</th>
		</tr>
    </thead>
	<tbody>
		@foreach(var emp in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelitem => emp.EmployeeNumber)
				</td>
				<td>
					@Html.DisplayFor(modelitem => emp.EmployeeName)
				</td>
				
				<td>
					@Html.DisplayFor(modelitem => emp.BirthDate)
				</td>
				<td>
					@Html.DisplayFor(modelitem => emp.HiringDate)
				</td>
				<td>
					@Html.DisplayFor(modelitem => emp.GrossSalary)
				</td>
				<td>
					@Html.DisplayFor(modelitem => emp.NetSalary)
				</td>
				<td>
					@Html.DisplayFor(modelitem => emp.DepartmentName)
				</td>
				<td>
					@Html.ActionLink("Edit","Edit",new {id = emp.EmployeeId})
					@Html.ActionLink("Delete", "Delete", new { id = emp.EmployeeId }, new {onclick = "return confirm('Are you sure you want to delete this employee?')"})
				</td>
			</tr>
		}
	</tbody>
</table>